body {
      font-family: "Outfit", sans-serif;
      display: grid;
      place-items: center;
      min-height: 100vh;
      background-color: hsl(217, 54%, 11%);
}

.container {
      background-color: hsl(216, 50%, 16%);
      border-radius: 10px;
      width: 350px;
}

.container .image {
      display: flex;
      justify-content: center;
}

.container .image img {
      width: 90%;
      height: 100%;
      border-radius: 10px;
      margin-top: 25px;
      cursor: pointer;
}




.container .info h2 {
      padding-left: 28px;
      color: hsl(0, 0%, 100%);
      cursor: pointer;
}

.container .info h2:hover {
      color: hsl(178, 100%, 50%);
}

.container .info p {
      font-size: 18px;
      padding-left: 28px;
      color: hsl(215, 32%, 27%);
}

.container .info2 {
      display: flex;
      justify-content: space-between;
      padding: 0 25px;
      position: relative;
}

.container .info2::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color:hsl(215, 32%, 27%);;
      width: calc(100% - 50px);
      bottom: 0;
}

.container .info2 .ethereum {
      display: flex;
      align-items: center;
      gap: 5px;
      color: hsl(178, 100%, 50%);
}

.container .info2 .clock {
      display: flex;
      align-items: center;
      gap: 5px;
      color: hsl(215, 32%, 27%);
}

.container .footer {
      display: flex;
      justify-content: space-between;
      padding: 20px 25px;
}

.container .footer img {
      width: 40px;
      height: 40px;
      border: 1px solid white;
      border-radius: 50%;
}

.container .footer p {
      flex: 1;
      margin-left: 20px;
      color: hsl(215, 32%, 27%);
      display: flex;
      margin-bottom: 0;
      margin-top: 0;
      align-items: center;
}

.container .footer p span {
      margin-left: 7px;
      color: white;
      cursor: pointer;
}

.container .footer p span:hover {
      color: hsl(178, 100%, 50%);;
}